useDynLib(mixlink)

# Export functions
export(r.mixlink.binom)
export(d.mixlink.binom)
export(p.mixlink.binom)
export(r.mixlink.pois)
export(d.mixlink.pois)
export(p.mixlink.pois)
export(find.vertices.prob)
export(find.vertices.nonneg)
export(rqres.mixlink.binom)
export(rqres.mixlink.pois)
export(mle.mixlink.binom)
export(mle.mixlink.binom.x)
export(mle.mixlink.pois)
export(mle.mixlink.pois.x)
export(gibbs.mixlink.reg)
export(rwmetrop.mixlink.binomial)
export(rwmetrop.mixlink.poisson)
export(normalize)
export(DIC.gibbs.mixlink.reg)
export(DIC.rwmetrop.mixlink.binomial)
export(DIC.rwmetrop.mixlink.poisson)

S3method(AIC, mle.fit)
S3method(BIC, mle.fit)
S3method(coef, mle.fit)
S3method(confint, mle.fit)
S3method(summary, gibbs.mixlink.reg)
S3method(summary, rwmetrop.mixlink.binomial)
S3method(summary, rwmetrop.mixlink.poisson)
S3method(print, gibbs.mixlink.reg)
S3method(print, rwmetrop.mixlink.binomial)
S3method(print, rwmetrop.mixlink.poisson)
S3method(print, mle.fit.ci)
S3method(print, mle.fit)
S3method(summary, mle.fit)
S3method(logLik, mle.fit)
S3method(vcov, mle.fit)

# Import all packages listed as Imports or Depends
import(
  RcppGSL, mvtnorm, numDeriv, stats
)

